@use '../../sass/colors';
@use '../../sass/breakpoints';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;

    &__logo-adeslas {
        width: 92px;
        height: 38.56px;
    }
}

.contact {
    &__business-name {
        color: colors.$Primary-Blue-2;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 22px !important;
    }
    
    &__schedule {
        font-weight: 400 !important;
        font-size: 12px !important;
        line-height: 18px !important;
    }
}

/* From md */
@media (min-width: breakpoints.$min-md) {
    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;

        &__schedule {
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 22px !important;
        }

        &__business-name {
            order: 2;
        }
    }

    .contact-data {
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .header { 
        padding: 32px 48px;
    }
}

/* From lg */
@media (min-width: breakpoints.$min-lg) {
    .header { 
        padding: 32px 140px;
    }
}

.phone {
        display: flex;
        flex-direction: row;
        color: colors.$adeslas-color;
        align-items: center;
        line-height: 26px !important;
        gap: 4px;

        &__icon {
            font-size: 16px !important;
            width: 16px !important;
        }

        &__number {
            font-weight: 700 !important;
            font-size: 14px !important;
        }
}

/* From md */
@media (min-width: breakpoints.$min-md) {
    .phone {
        &__icon {
            font-size: 24px !important;
            width: 24px !important;
        }

        &__number {
            font-weight: 700 !important;
            font-size: 24px !important;
        }
    }
}
