@use "../sass/breakpoints";

.login-main-area {
    padding: 8px 18px 24px 18px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__info-area {
        min-width: 324px;
        min-height: 335px;
    }

    &__form-and-message {
        min-width: 324px;
        min-height: 526px;
    }
}

/* From md */
@media (min-width: breakpoints.$min-md) {
    .login-main-area {
        padding: 15px auto 47px auto;

        &__info-area {
            min-width: 672px;
            min-height: 248px;
        }
    
        &__form-and-message {
            min-width: 672px;
            min-height: 612px;
        }
    }
}

/* From lg */
@media (min-width: breakpoints.$min-lg) {
    .login-main-area {
        padding: 47px 140px 79px 140px;
        flex-direction: row;
        gap: unset;         
        justify-content: space-between;

        &__info-area {
            min-width: 449px;
            min-height: 345px;
        }
    
        &__form-and-message {
            min-width: 480px;
            min-height: 612px;
        }
    }
}
