@use "../../../sass/colors";
@use "../../../sass/typography";

.login-success {
    min-width: 324px;
    min-height: 526px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: colors.$adeslas-color;

    &__icon {
        font-size: 115px;
        width: 115px;
        height: 115px;
        color: colors.$white;
    }

    &__contact-you {
        font-family: typography.$rising-sun-font;
        padding-inline: 16px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        color: colors.$white;
    }
}