@use "../../../sass/breakpoints";
@use "../../../sass/colors";
@use "../../../sass/typography";

.loginForm {
    min-width: 324px;
    min-height: 526px;

    &__card {
        min-width: 324px;
        min-height: 526px;
    }
}

/* From md */
@media (min-width: breakpoints.$min-md) {
    .loginForm {
        min-width: 672px;
        min-height: 612px;

        &__card {
            min-width: 672px;
            min-height: 612px;
        }
    }   
}

/* From lg */
@media (min-width: breakpoints.$min-lg) {
    .loginForm {
        min-width: 480px;

        &__card {
            min-width: 480px;
        }
    }
}

.card-title {
    background-color: colors.$adeslas-color;
    color: colors.$white;
    font-family: typography.$rising-sun-font;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 16px;
    border-radius: 6px, 6px, 0px, 0px;
    text-align: center;
}

/* From md */
@media (min-width: breakpoints.$min-md) {
    .card-title {
        font-size: 24px;
        line-height: 32px;
        padding: 24px;
    }
}

.card-content {
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* From md */
@media (min-width: breakpoints.$min-md) {
    .card-content {
        padding: 32px, 56px, 32px, 56px;
    }   
}

/* From lg */
@media (min-width: breakpoints.$min-lg) {
    .card-content {
        padding: 32px;
    }
}

.form-field {
    width: 100%;
}

button.send-button {
    width: 100%;
    padding: 30px 50px;
    border-radius: 6px;
    font-family: typography.$rising-sun-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}