<div class="form-and-message-container">
    <app-login-sucess-message *ngIf="emailSent; else loginForm"></app-login-sucess-message>

    <ng-template #loginForm>
        <div class="loginForm">
            <mat-card class="loginForm__card">
                <mat-card-title class="card-title">
                    {{ formTitle}}
                </mat-card-title>
                <mat-card-content class="card-content">
                    <form [formGroup]="formLogin" (ngSubmit)="sendForm()">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>{{ nameLabelField }}</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>{{ phoneLabelField }}</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>{{ emailLabelField }}</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>{{ dniLabelField }}</mat-label>
                            <input matInput formControlName="dni">
                        </mat-form-field>

                        <button class="send-button" mat-raised-button color="accent">
                            {{ sendButtonText }}
                        </button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>
</div>