<div class="form-and-message-container">
    <app-login-sucess-message *ngIf="emailSent; else loginForm"></app-login-sucess-message>

    <ng-template #loginForm>
        <div class="loginForm">
            <mat-card class="loginForm__card">
                <mat-card-title class="card-title">
                    {{ formTitle}}
                </mat-card-title>
                <mat-card-content class="card-content">
                    Contenido
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>
</div>